---
const {
  productName,
  precioEfectivo,
  precioLista,
  precioDebito,
  cuota3,
  cuota6,
  cuota7,
  cuota9,
  cuota12,
  phoneNumber = "5493513473549",
} = Astro.props;

// Helper para formatear moneda dentro del componente
const f = (val) =>
  new Intl.NumberFormat("es-AR", {
    style: "currency",
    currency: "ARS",
    minimumFractionDigits: 0,
  }).format(val);
---

<a class="promo-btn" id="openModal" href="#">
  ¡Compra con 30% Off en LobbyX!
  <img
    src="https://tecnolobbyx.com/tienda/img/click.png"
    alt="click"
    class="click-icon"
  />
</a>

<dialog id="pedidoModal" class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h3 style="margin: 0;font-size: medium;text-align: center;">
        Finalizar Pedido: {productName}
      </h3>
      <button id="closeModal" class="close-btn">&times;</button>
    </div>

    <form id="formPedido">
      <div class="tabs">
        <label
          ><input type="radio" name="tipoEntrega" value="envio" checked /> Envío</label
        >
        <label
          ><input type="radio" name="tipoEntrega" value="retiro" /> Retiro</label
        >
      </div>

      <div class="form-grid">
        <input
          type="text"
          name="nombre"
          placeholder="Nombre completo"
          required
        />
        <input
          type="text"
          name="cuil"
          placeholder="CUIL o CUIT o DNI"
          required
        />
        <input
          type="tel"
          name="celular"
          placeholder="Número de celular"
          required
        />
        <input type="email" name="email" placeholder="Email" required />

        <select name="pago" id="medioPago" required>
          <option value="" disabled selected>Elegí tu medio de pago</option>
          <option
            selected
            value={`Efectivo/Transferencia (${f(precioEfectivo)})`}
          >
            Efectivo/Transferencia: {f(precioEfectivo)} (Descuento aplicado)
          </option>
          <option value={`Débito (${f(precioDebito)})`}>
            Débito: {f(precioDebito)} (5% OFF sobre lista)
          </option>
          <option value={`Crédito 1 Pago (${f(precioLista)})`}>
            Crédito 1 Pago: {f(precioLista)}
          </option>
          <option value={`3 cuotas de ${f(cuota3)} (Total: ${f(cuota3 * 3)})`}>
            3 cuotas fijas de {f(cuota3)} (Total: {f(cuota3 * 3)})
          </option>
          <option value={`6 cuotas de ${f(cuota6)} (Total: ${f(cuota6 * 6)})`}>
            6 cuotas fijas de {f(cuota6)} (Total: {f(cuota6 * 6)})
          </option>
          <option value={`9 cuotas de ${f(cuota9)} (Total: ${f(cuota9 * 9)})`}>
            9 cuotas fijas de {f(cuota9)} (Total: {f(cuota9 * 9)})
          </option>
          <option
            value={`12 cuotas de ${f(cuota12)} (Total: ${f(cuota12 * 12)})`}
          >
            12 cuotas fijas de {f(cuota12)} (Total: {f(cuota12 * 12)})
          </option>
        </select>

        <div id="camposEnvio">
          <input
            type="text"
            name="direccion"
            placeholder="Dirección (Calle, n°, barrio)"
            required
          />
          <input
            type="text"
            name="localidad"
            placeholder="Localidad/Ciudad"
            required
          />
          <input
            type="text"
            name="cp"
            placeholder="Código postal (CP)"
            required
          />
        </div>

        <input
          type="text"
          name="conociste"
          placeholder="¿Cómo nos conociste?"
        />
        <select name="conociste" id="conociste" required>
          <option value="" disabled selected>¿Cómo nos conociste?</option>
          <option value={`Instagram`}> Instagram </option>
          <option value={`Google`}> Google </option>
          <option value={`Facebook`}> Facebook </option>
          <option value={`Recomendacion`}> Recomendación </option>
          <option value={`Otro`}> Otro </option>
        </select>
      </div>

      <button type="submit" class="submit-btn"
        >Enviar Pedido por WhatsApp 🚀</button
      >
    </form>
  </div>
</dialog>

<script is:inline define:vars={{ phoneNumber, productName }}>
  const modal = document.getElementById("pedidoModal");
  const openBtn = document.getElementById("openModal");
  const closeBtn = document.getElementById("closeModal");
  const form = document.getElementById("formPedido");
  const radioEnvio = document.querySelectorAll('input[name="tipoEntrega"]');
  const camposEnvio = document.getElementById("camposEnvio");

  openBtn.onclick = () => modal.showModal();
  closeBtn.onclick = () => modal.close();

  radioEnvio.forEach((radio) => {
    radio.addEventListener("change", (e) => {
      const isEnvio = e.target.value === "envio";
      camposEnvio.style.display = isEnvio ? "flex" : "none";
      camposEnvio
        .querySelectorAll("input")
        .forEach((i) => (i.required = isEnvio));
    });
  });

  form.onsubmit = (e) => {
    e.preventDefault();
    const data = new FormData(form);
    const tipo = data.get("tipoEntrega");

    let baseMsg =
      tipo === "envio"
        ? `PARA ENVIO\n🚀 Reserva para: ${productName}\n\n👤 Nombre: ${data.get("nombre")}\n💳 Pago: ${data.get("pago")}\n📌 CUIL/CUIT: ${data.get("cuil")}\n📲 Cel: ${data.get("celular")}\n📍 Dir: ${data.get("direccion")}\n🏙️ Ciudad: ${data.get("localidad")}\n📮 CP: ${data.get("cp")}\n📩 Email: ${data.get("email")}\n💜 Origen: ${data.get("conociste")}\n\nGracias por elegir Lobbyx!`
        : `PARA RETIRO\n🙌🏼 Reserva para: ${productName}\n\n👤 Nombre: ${data.get("nombre")}\n💳 Pago: ${data.get("pago")}\n📌 CUIL/CUIT: ${data.get("cuil")}\n📲 Cel: ${data.get("celular")}\n📩 Email: ${data.get("email")}\n💜 Origen: ${data.get("conociste")}\n\nGracias por confiar en Lobbyx! 🚀`;

    window.open(
      `https://wa.me/${phoneNumber}?text=${encodeURIComponent(baseMsg)}`,
      "_blank",
    );
  };
</script>

<style is:global>
  .promo-btn {
    position: relative; /* clave para posicionar el icono */
    display: inline-block;
    padding: 18px 60px 18px 30px;

    background: linear-gradient(180deg, #2f4f63, #1f3b4d);
    border-radius: 20px;
    border: 3px solid #6fd1c5;

    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;

    box-shadow:
      inset 0 2px 4px rgba(255, 255, 255, 0.2),
      0 4px 10px rgba(0, 0, 0, 0.3);

    cursor: pointer;
    transition: all 0.3s ease;
  }

  a.promo-btn:hover, a.promo-btn:focus {
    color: #fff !important;
    background-image: linear-gradient(180deg, #2f4f63, #1f3b4d) !important;
    background-clip: unset !important;
    text-decoration: underline;
  }

  .click-icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 35px;
    height: auto;
    pointer-events: none; /* para no interferir con el click */
  }

  /* Responsive */
  @media (max-width: 768px) {
    .promo-btn {
      font-size: 20px;
      padding: 14px 20px;
    }

    .click-icon {
      width: 28px;
      bottom: 3px;
      right: 6px;
    }
  }
  .click-icon {
    animation: clickPulse 1.2s infinite;
  }

  @keyframes clickPulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  .modal-container {
    border: none;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    padding: 0;
  }
  .modal-container::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-content {
    padding: 25px;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .form-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  #camposEnvio {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
  }
  .submit-btn {
    background: #25d366;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    margin-top: 15px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
  }
  .tabs {
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    font-weight: 600;
  }
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
</style>
